{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Gerencimanto de funcion치rios{% endblock %}

{% block body %}
    <br/>
    <div class="html ui top right attached segment">
        <br/>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de funcion치rios', 
                'sub_titulo' : 'Cadastro de funcion치rios no sistema'
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'cabecalho' : ctrl.mensagem.cabecalho,
                    'tipo_msg' : ctrl.mensagem.tipo,
                    'descricao' : ctrl.mensagem.descricao
                }
            %}
        {% endif %}
        <div class="ui top attached tabular menu">
            <div class="item" data-tab="form">Formul치rio</div>
            <div class="item active" data-tab="tabela">Tabela</div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="form">
            <form id="form_funcionario" class="ui form" method="post" 
                  action="front_controller.php">
                <input type="hidden" name="campo_id" value="{{ctrl.funcionario.id}}"/>              
                <div class="field">
                    <label>Nome:</label>
                    <input type="text" name="campo_nome" placeholder="nome" value="{{ctrl.funcionario.nome}}">
                </div>
                <div class="field">
                    <label>CPF:</label>
                    <input type="text" name="campo_cpf" placeholder="___.___.___-__" value="{{ctrl.funcionario.cpf}}">
                </div>
                <div class="field">
                    <label>RG:</label>
                    <input type="text" name="campo_rg" placeholder="___.___.___" value="{{ctrl.funcionario.rg}}">
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui submit black button" 
                             onclick="submeterForm('form_funcionario', 'funcao_gerenciar_funcionario', 'cadastrar');">
                            <i class="save icon"></i>Cadastrar
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui submit black button"
                             onclick="submeterForm('form_funcionario', 'funcao_gerenciar_funcionario', 'pesquisar');">
                            <i class="search icon"></i>Pesquisar
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="tabela">
            {% include 'fragmentos/frag_tabela.twig' 
            with {
                'modelo' : ctrl.modeloTabela
            }
            %}
        </div>
    </div>
{% endblock %}
