{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block body %}
    <br/>
    <div class="html ui top attached segment" style="width: 80%">
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de Movimentação ', 
                'sub_titulo' : 'Cadastro de Movimentação no sistema'
            }
        %}
        <form id="form_movimentacao" class="ui form" method="post" 
              action="front_controller.php">
            <input type="hidden" name="campo_id" value="{{ctrl.departamento.id}}"/>                
            <input type="hidden" name="campo_constante" value="{{ctrl.departamento.constante}}"/> 
            <div class="field">
                <label>Descrição:</label>
                <input type="text" name="campo_descricao" placeholder="descricao" value="{{ctrl.movimentacao.descricao}}">
            </div>

            <div class="fields">
                <div class="field">
                    <div class="ui submit black button"
                         onClick="submeterForm('form_movimentacao', 'funcao_gerenciar_movimentacao', 'cadastrar');"><i class="save icon"></i>Cadastrar</div>
                </div>
                <div class="field">
                    <div class="ui submit black button"
                         onClick="submeterForm('form_movimentacao', 'funcao_gerenciar_movimentacao', 'pesquisar');"><i class="search icon"></i>Pesquisar</div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
