{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block body %}
    <br/>
    <div class="html ui top attached segment">
        <br>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de Processos', 
                'sub_titulo' : 'Cadastro de processos no sistema '
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'cabecalho' : ctrl.mensagem.cabecalho,
                    'tipo_msg' : ctrl.mensagem.tipo,
                    'descricao' : ctrl.mensagem.descricao
                }
            %}
        {% endif %}
        <div class="ui top attached tabular menu">
            <div class="item active" data-tab="first">Formulário</div>
            <div class="item" data-tab="second">Tabela de Processos</div>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">
            <form class="ui form" method="post" action="assunto">
                <div class="field">
                    <label>Nº Processo:</label>
                    <input type="text" name="campo_numero_processo" placeholder="Número do Processo">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Assunto:</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="assunto">
                            <i class="dropdown icon"></i>
                            <div class="default text">Selecione o Assunto</div>
                            <div class="menu">
                                {% for assunto in ctrl.assuntos %}
                                    <div class="item" data-value="{{ loop.index }}">
                                        <i class="archive icon"></i>
                                        {{ assunto.descricao }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Departamento:</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="departamento">
                            <i class="dropdown icon"></i>
                            <div class="default text">Selecione o Departamento</div>
                            <div class="menu">
                                {% for departamento in ctrl.departamentos %}
                                    <div class="item" data-value="{{ loop.index }}">
                                        <i class="building icon"></i>
                                        {{ departamento.descricao }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui action input">
                        <input type="text" placeholder="Funcionário">
                        <div class="ui button">
                            <i class="search icon"></i>
                            Buscar
                        </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui submit black button"><i class="save icon"></i>Cadastrar</div>
                    </div>
                    <div class="field">
                        <div class="ui submit black button"><i class="search icon"></i>Pesquisar</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">

            <table class="ui basic table">
                <thead>
                    <tr><th>Nº Processo</th>
                        <th>Assunto</th>
                        <th>Departamento</th>
                    </tr></thead>
                <tbody>
                    <tr>
                        <td>012/2015</td>
                        <td>Licença Particular</td>
                        <td>Secretaria de Administração</td>
                    </tr>
                    <tr>
                        <td>015/2015</td>
                        <td>Licença Prêmio</td>
                        <td>Procuradoria</td>
                    </tr>
                    <tr>
                        <td>030/2015</td>
                        <td>Progressão Horizontal</td>
                        <td>Recursos Humanos</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
