{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Gerencimanto de funcionários{% endblock %}

{% block body %}
    <br/>
    <div class="html ui top right attached segment">
        <br/>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de funcionários', 
                'sub_titulo' : 'Cadastro de funcionários no sistema'
            }
        %}
        <div class="ui top attached tabular menu">
            <div class="item active" data-tab="first">Formulário</div>
            <div class="item" data-tab="second">Tabela de Funcionários</div>
        </div>
        <div class="ui bottom attached active tab segment" data-tab="first">
            <form class="ui form" method="post" action="funcionario">
                <div class="field">
                    <label>Nome:</label>
                    <input type="text" name="campo_nome" placeholder="nome">
                </div>
                <div class="field">
                    <label>CPF:</label>
                    <input type="text" name="campo_cpf" placeholder="___.___.___-__">
                </div>
                <div class="field">
                    <label>RG:</label>
                    <input type="text" name="campo_rg" placeholder="___.___.___">
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui submit black button"><i class="save icon"></i>Cadastrar</div>
                    </div>
                    <div class="field">
                        <div class="ui submit black button"><i class="search icon"></i>Pesquisar</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ui bottom attached tab segment" data-tab="second">
            
            <table class="ui basic table">
                <thead>
                    <tr><th>Nome</th>
                        <th>CPF</th>
                        <th>RG</th>
                    </tr></thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>459.321.252-58</td>
                        <td>5.245.658 SSP/RN</td>
                    </tr>
                    <tr>
                        <td>Rummenigge</td>
                        <td>459.322.441-03</td>
                        <td>2.245.658 SSP/RN</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>459.551.252-58</td>
                        <td>0.245.658 SSP/RN</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
