{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block body %}
    <br/>
    <div class="html ui top attached segment" style="width: 80%">
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de Processos', 
                'sub_titulo' : 'Cadastro de processos no sistema '
            }
        %}
        <form class="ui form" method="post" action="assunto">
            <div class="field">
                <label>Nº Processo:</label>
                <input type="text" name="campo_numeroProcesso" placeholder="Número do Processo">
            </div>
            <div class="field">
                <label>Assunto:</label>
                <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="assunto">
                    <i class="dropdown icon"></i>
                    <div class="default text">Selecione o Assunto</div>
                    <div class="menu">
                        <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>
                        <div class="item" data-value="ae"><i class="ae flag"></i>United Arab Emirates</div>
                        <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Departamento:</label>
                <div class="ui fluid search selection dropdown">
                    <input type="hidden" name="departamento">
                    <i class="dropdown icon"></i>
                    <div class="default text">Selecione o Departamento</div>
                    <div class="menu">
                        <div class="item" data-value="ad"><i class="ad flag"></i>Andorra</div>
                        <div class="item" data-value="ae"><i class="ae flag"></i>United Arab Emirates</div>
                        <div class="item" data-value="af"><i class="af flag"></i>Afghanistan</div>
                    </div>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <div class="ui submit black button"><i class="save icon"></i>Cadastrar</div>
                </div>
                <div class="field">
                    <div class="ui submit black button"><i class="search icon"></i>Pesquisar</div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
