{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Gerencimanto de funcionários{% endblock %}

{% block body %}
    <br/>
    <div class="html ui top right attached segment">
        <br/>
        {% include 'fragmentos/frag_titulo.twig' 
            with {
                'titulo' : 'Gerenciamento de assuntos', 
                'sub_titulo' : 'Cadastro de assuntos no sistema'
            }
        %}
        {% if ctrl.mensagem != null %}
            {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'cabecalho' : ctrl.mensagem.cabecalho,
                    'tipo_msg' : ctrl.mensagem.tipo,
                    'descricao' : ctrl.mensagem.descricao
                }
            %}
        {% endif %}
        <div class="ui top attached tabular menu">
            <div class="item" data-tab="form">Formulário</div>
            <div class="item active" data-tab="tabela">Tabela de Assuntos</div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="form">
            <form id="form_assunto" class="ui form" method="post" 
                  action="front_controller.php">                
                <input type="hidden" name="campo_id" value="{{ctrl.assunto.id}}"/>
                <div class="field">
                    <label>Descrição:</label>
                    <input type="text" name="campo_descricao" placeholder="descricao" value="{{ctrl.assunto.descricao}}">
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui submit black button"
                             onClick="submeterForm('form_assunto', 'funcao_gerenciar_assunto', 'cadastrar');">
                            <i class="save icon"></i>Cadastrar
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui submit black button"
                             onClick="submeterForm('form_assunto', 'funcao_gerenciar_assunto', 'pesquisar');">
                            <i class="search icon"></i>Pesquisar
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="ui bottom attached tab segment active" data-tab="tabela">
            {% include 'fragmentos/frag_tabela.twig' 
                with {
                    'modelo' : ctrl.modeloTabela,
                    'formulario' : 'form_assunto',
                    'funcao' : 'funcao_gerenciar_assunto'
                }
            %}
        </div>
    </div>
{% endblock %}
