{# empty Twig template #}
{% extends "../templates/base.twig"%}

{% block body %}
    <br/>
    <div class="html ui top attached segment" style="width: 80%">
        {% include '../fragmentos/frag_titulo.html.twig' with {'titulo' : 'Departamento', 'sub_titulo' : 'Cadastro de departamento no sistema'}%}
        <form class="ui form" method="post" action="funcionario">
            <div class="field">
                <label>Descrição:</label>
                <input type="text" name="campo_descricao" placeholder="descricao">
            </div>
            <div class="fields">
                <div class="field">
                    <div class="ui submit black button"><i class="save icon"></i>Cadastrar</div>
                </div>
                <div class="field">
                    <div class="ui submit black button"><i class="search icon"></i>Pesquisar</div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
