{# empty Twig template #}
<table border="1">
    <thead>
        <tr>
            {% if modelo.modoBusca %}
                <td>ok</td>
            {% endif %}
            {% for cabecalho in modelo.cabecalhos %}
                <td>{{ cabecalho}}</td>
            {% endfor %}
            {% if not modelo.modoBusca %}
                <td>editar</td>
                <td>excluir</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for linha in modelo.linhas %} 
            <tr>
                {% if modelo.modoBusca %}
                    <td>
                        <input type="checkbox"/>
                    </td>
                {% endif %}
                {% for valor in linha.valores %}
                    <td>{{ valor }}</td>
                {% endfor %}
                {% if not modelo.modoBusca %}
                    <td>
                        <input type="button" value="editar"/>
                    </td>
                    <td>
                        <input type="button" value="excluir"/>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>