{# empty Twig template #}
<div class="ui modal" id="modal_mensagem">
    <i class="close icon"></i>
    <div class="header">
        {{ mensagem.cabecalho}}
    </div>
    <div class="image content">
        <div class="image">
            {% if mensagem.tipo == 'msg_tipo_ok' %}
                <i class="checkmark icon green"></i>
            {% elseif mensagem.tipo == 'msg_tipo_info' %}
                <i class="info icon blue"></i>
            {% elseif mensagem.tipo == 'msg_tipo_aviso' %}
                <i class="warning sign icon yellow"></i>
            {% elseif mensagem.tipo == 'msg_tipo_erro' %}
                <i class="remove sign icon red"></i>
            {% endif %}
        </div>
        <div class="description">
            <h3>{{ mensagem.descricao }}</h3>
            <div class="ui list">
                {% for msn in mensagem.submensagens %}
                    <div class="item">* {{ msn }} </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve black button">
            <i class="thumbs up outline icon"></i>
            ok
        </div>
    </div>
</div>
