{# empty Twig template #}
<table class="ui compact celled definition table">
    <thead>
        <tr>
            <th>
            </th>
            {% for cabecalho in modelo.cabecalhos %}
                <th>
                    {{ cabecalho}}
                </th>
            {% endfor %}
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for linha in modelo.linhas %} 
            <tr>
                {% if modelo.modoBusca %}
                    <td class="collapsing">
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}
                {% for valor in linha.valores %}
                    <td>{{ valor }}</td>
                {% endfor %}
                {% if not modelo.modoBusca %}
                    <td style="text-align: center">
                        <input type="button" value="editar"/>
                    </td>
                    <td style="text-align: center">
                        <input type="button" value="excluir"/>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot class="full-width">
        <tr>
            <th>
            </th>
            <th colspan="6">
            </th>
        </tr>
    </tfoot>
</table>