{# empty Twig template #}
<span class="ui icon button negative">
    <i class="step backward icon"></i>
</span>
<span class="ui icon button negative">
    <i class="backward icon"></i>
</span>
<label style="padding-left: 15px">Página</label>
<span class="ui input" style="width: 75px">
    <input type="text" style="text-align: center"/>
</span>
<label style="padding-right: 15px">de 9999</label>
<span class="ui icon button negative">
    <i class="forward icon"></i>
</span>
<span class="ui icon button negative">
    <i class="step forward icon"></i>
</span>
<span style="padding-left: 15px">
    Limite:
    <span class="ui inline dropdown">
        <div class="text">
            5
        </div>
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item" data-value="5">5</div>
            <div class="item" data-value="10">10</div>
            <div class="item" data-value="15">15</div>
            <div class="item" data-value="15">30</div>
        </div>
    </span>
</span>
