{# empty Twig template #}
<table>
    <thead>
        <tr>
            {% if ctrl.modoBusca %}
                <td></td>
            {% endif %}
            {% for coluna in ctrl.colunasDaTabela %}
                <td>{{ coluna }}</td>
            {% endfor %}
            {% if not ctrl.modoBusca %}
                <td>editar</td>
                <td>excluir</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for funcionario in ctrl.funcionarios %} 
            <tr>
                {% if ctrl.modoBusca %}
                    <td>
                        <input type="checkbox"/>
                    </td>
                {% endif %}
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>