<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}Home{% endblock %}</title>
        <script type="text/javascript" src="../../web/jquery.min.js"></script>
        <script type="text/javascript" src="../../web/semantic_ui/semantic.min.js"></script>
        <script type="text/javascript" src="../../web/jquery.maskedinput.js"></script>
        <link href="../../web/semantic_ui/semantic.min.css" rel="stylesheet" type="text/css"/>

        <script type="text/javascript">

            $(document).ready(function() {
                $('a').click(function(event) {
                    var form = $('<form method="post" action="front_controller.php"></form>');
                    var campo = document.createElement('input');
                    campo.type = "hidden";
                    campo.name = $(this).attr('name');
                    campo.value = $(this).attr('name');
                    form.append(campo);
                    form.appendTo("body").submit();
                });

                $('.dropdown').dropdown({transition: 'drop'});
                $('#modal_mensagem').modal('show');
                $('.menu .item').tab();
                $('.ui.checkbox').checkbox('toggle');
                $('#menu_principal')
                        .sidebar('setting', 'transition', 'push');
                $('#modal_excluir').modal();
            });
            function submeterForm(form, controlador, funcao) {
                var funcionalidade = document.createElement('input');
                funcionalidade.name = controlador;
                funcionalidade.value = funcao;
                funcionalidade.type = "hidden";
                $('#' + form).append(funcionalidade);
                $('#' + form).submit();
            }
        </script>
        <script>
            jQuery(function($) {
                $("#campoCpf").mask("999.999.999-99");
                $("#campoRg").mask("999.999.999");
            });
        </script>
    </head>
    <body class="pushable">

        <div class="ui vertical sidebar inverted menu left" id="menu_principal">
            <div class="item">
                <img src="../../web/imagens/icon-process-white.png" width="100px" />
            </div>
            {% if autenticacaoCtrl.contemAutorizacao('admin') %}
                <a class="item" name="navegador_gerenciar_funcionario"><i class="users icon"></i>Funcionários</a>            
                <a class="item" name="navegador_gerenciar_assunto"><i class="archive icon"></i>Assuntos</a>
                <a class="item" name="navegador_gerenciar_departamento"><i class="building icon"></i>Departamentos</a>
                <a class="item" name="navegador_gerenciar_movimentacao"><i class="exchange icon"></i>Movimentações</a>            
                <a class="item" name="navegador_gerenciar_usuario"><i class="privacy icon"></i>Usuários</a>
            {% endif %}
            <a class="item" name="navegador_gerenciar_processo"><i class="flag icon"></i>Processos</a>
            <a class="item" name="navegador_gerenciar_processo_movimentacao"><i class="legal icon"></i>Movimentação Processual</a>
        </div>
        <div class="pusher">
            <div class="ui fixed main menu inverted">
                <div class="ui button icon item" onclick="$('#menu_principal').sidebar('toggle');">
                    <i class="sidebar icon"></i>
                </div>
                <a class="item" name="navegador_gerenciar_home">
                    <i class="home icon"></i> Home
                </a>
                <a class="item">
                    <i class="info circle icon"></i> Sobre
                </a>
                {% if autenticacaoCtrl.entidade.id is null %}
                    <div class="right item" style="padding: 0px">
                        <form id="form_autenticar" method="post" action="front_controller.php">
                            <span class="inverted" style="padding: 0px 10px 0px 0px">Login:</span>
                            <div class="ui small input">
                                <input type="text" name="campo_login" placeholder="login">
                            </div>
                            <span class="inverted" style="padding: 0px 10px 0px 10px">Senha:</span>
                            <div class="ui small input">
                                <input type="password" name="campo_senha" placeholder="senha">
                            </div>
                        </form>
                    </div>
                    <div class="item">
                        <div class="ui submit button" 
                             onClick="submeterForm('form_autenticar', 'funcao_gerenciar_autenticacao', 'autenticar');" >
                            <i class="key icon"></i>Entrar
                        </div>
                    </div>
                {% else %}
                    <form id="form_autenticar" method="post" action="front_controller.php"></form>
                    <div class="ui right dropdown item">
                        <i class="user icon"></i>
                        {{ autenticacaoCtrl.entidade.nome }}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item"
                                 onClick="submeterForm('form_autenticar', 'funcao_gerenciar_autenticacao', 'sair');">
                                <i class ="sign out icon"></i>
                                Sair
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% block body %}

            {% endblock %}
        </div>
    </body>
</html>
