{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Home{% endblock %}

{% block body %}
    {% if ctrl.mensagem != null %}
        {% include 'fragmentos/frag_mensagem.twig'
                with {
                    'mensagem' : ctrl.mensagem
                }
        %}
    {% endif %}
	<br /><br />
    <div class="ui segment">
        <img class="ui centered medium image" src="../../web/imagens/sgp_home.svg">
    </div>
    <div class="segment" style="text-align: center">
        <a class="ui icon massive black button" style="margin-bottom: 5px" name="navegador_gerenciar_processo" title="Processos"><i class="legal icon"></i>&nbsp;&nbsp;Processos</a>
        {% if autenticacaoCtrl.contemAutorizacao('admin') %}
            <a class="ui icon massive black button" style="margin-bottom: 5px" name="navegador_gerenciar_funcionario" title="Funcionários"><i class="users icon"></i>&nbsp;&nbsp;Funcionários</a>            
            <a class="ui icon massive black button" style="margin-bottom: 5px" name="navegador_gerenciar_assunto" title="Assuntos"><i class="archive icon"></i>&nbsp;&nbsp;Assuntos</a>
            <a class="ui icon massive black button" style="margin-bottom: 5px" name="navegador_gerenciar_departamento" title="Departamentos"><i class="building icon"></i>&nbsp;&nbsp;Departamentos</a>
            <a class="ui icon massive black button" style="margin-bottom: 5px" name="navegador_gerenciar_movimentacao" title="Movimentações"><i class="exchange icon"></i>&nbsp;&nbsp;Movimentações</a>            
            <a class="ui icon massive black button" style="margin-bottom: 5px" name="navegador_gerenciar_usuario" title="Usuários"><i class="privacy icon"></i>&nbsp;&nbsp;Usuários</a>
            <a class="ui icon massive black button" style="margin-bottom: 5px" name="navegador_gerenciar_processo_movimentacao" title="Movimentação Processual"><i class="refresh icon"></i>&nbsp;&nbsp;Movimentação Processual</a>
            <a class="ui icon massive black button" style="margin-bottom: 5px" name="navegador_autenticar_processo" title="Movimentação Processual"><i class="checkmark box icon"></i>  Autenticar Processo</a>
        {% endif %}
    </div>
    <div class="ui message">
        <div class="header">
            Informativo
        </div>
        <p>Sistema de Gerenciamento de Processos Online. O SGP foi criado com o intuíto de manter todo o funcionalismo
            municipal atualizado sobre todos os seus requerimentos e processos criados e que estão em mãos da administração pública.</p>
        <p>Através do SGP os funcionários poderão consultar os seus processos de maneira bem simples e eficaz, através da inserção de uma única informação
            tal como o número do processo ou o nome do funcionário e, assim, o SGP irá buscar todos os processos abertos/conclusos que o usuário tiver consultado.</p>
    </div>
    <div class="ui message">
        <div class="header">
            Links importantes
        </div>
        <p>A Prefeitura Municipal apresenta diversos links importantes para ser consultado pelos funcionários, todos os links estão presentes no site do municipio, porém,
            segue abaixo os links para a consulta do funcionalismo municipal.
        </p>
        <div class="ui bulleted list">
            <div class="item">
                <a href="http://www.cruzeta.rn.gov.br/ContraCheque/telaPrincipal.php" target="_blank">Consulta de contracheques</a>
            </div>
            <div class="item">
                <a href="http://cruzeta.rn.gov.br/remuneracao/servidores/" target="_blank">Consulta da remuneração dos servidores</a>
            </div>
            <div class="item">
                <a href="http://lemarq.com.br/transparencia/" target="_blank">Consulta do portal da transparência</a>
            </div>
        </div>
    </div>
    <button class="ui icon massive facebook button">
        <i class="facebook icon"></i>
        <a href="https://www.facebook.com/prefeituracruzetaouvidoria/?ref=hl" target="_blank" style="color: white;">Facebook</a>
    </button> 

{% endblock %}
