{# empty Twig template #}
{% extends "templates/base.twig"%}

{% block title %}Home{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="ui segment">
        <img class="ui centered medium image" src="../../web/imagens/logo_sgp.png">
    </div>
    <div class="ui message">
        <div class="header">
            Informativo
        </div>
        <p>Sistema de Gerenciamento de Processos Online. O SGP foi criado com o intuíto de manter todo o funcionalismo
            municipal atualizado sobre todos os seus requerimentos e processos criados e que estão em mãos da administração pública.</p>
        <p>Através do SGP os funcionários poderão consultar os seus processos de maneira bem simples e eficaz, através da inserção de uma única informação
            tal como o número do processo ou o nome do funcionário e, assim, o SGP irá buscar todos os processos abertos/conclusos que o usuário tiver consultado.</p>
    </div>
    <div class="ui message">
        <div class="header">
            Links importantes
        </div>
        <p>A Prefeitura Municipal apresenta diversos links importantes para ser consultado pelos funcionários, todos os links estão presentes no site do municipio, porém,
            segue abaixo os links para a consulta do funcionalismo municipal.</p>

        <div class="ui bulleted list">
            <div class="item">
                <a href="http://www.cruzeta.rn.gov.br/ContraCheque/telaPrincipal.php">Consulta de contracheques</a>
            </div>
            <div class="item">
                <a href="http://cruzeta.rn.gov.br/remuneracao/servidores/">Consulta da remuneração dos servidores</a>
            </div>
            <div class="item">
                <a href="http://lemarq.com.br/transparencia/">Consulta do portal da transparência</a>
            </div>
        </div>
    </div>
    <button class="ui facebook button">
        <i class="facebook icon"></i>
        <a href="https://www.facebook.com/prefeituracruzetaouvidoria/?ref=hl" style="color: white">Facebook</a>
    </button> 

{% endblock %}
